.home{
  &__block1{
    background-size: contain;
    background-position: bottom right;
    background-color: #fafafa;
    min-height: 100vh;
    @include media-breakpoint-up('m'){
      background-size: cover;
      background-position: top right;
      min-height: 751px;
    }
  }
  &__block2{
    background-color: rgb(250, 239, 209);
    min-height: 100vh;
    position: relative;
    &__imgCover{
      canvas{
        width: 195px;
        @include media-breakpoint-up('m'){
          width: 337px;
        }
      }
    }
    &__cover1{
      canvas{
        @include fluidx(578px,278px,width);
      }
    }
    &__item{
      &:nth-child(n+2){
        margin-top: 4px;
      }
    }
    &__txt1{
      color: rgb(11, 104, 230);
      @extend .fz-16;
      font-family: $font-OpenSans-Bold;
      line-height: 1.6;
    }
    &__txt2{
      color: rgb(0, 0, 0);
      @extend .fz-14;
      font-family: $font-OpenSans-Bold;
      line-height: 1.6;
    }
    &__btn{
      text-transform: inherit;
      //background: linear-gradient(180deg, #0D61F2, #2F7BFE);
      background: #0D61F2;
      color: #ffffff;
    }
    &__btnMore{
      background: rgb(255, 153, 0);
      border-color: rgb(255, 153, 0);
      color: #ffffff;
      @extend .fz-14;
      font-family: $font-OpenSans-Bold;
      text-transform: inherit;
      .home__booking &{
        background: #0D61F2;
        border-color: #0D61F2;
      }
    }
    &__box{
      &:before{
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgb(209, 227, 250);
        display: block;
        height: 40px;
        border-radius: 5px 5px 0 0;
      }
    }
    &__box1{
      border-radius: 50px;
    }
  }
  &__booking{
    &__addressName{
      @extend .fz-16;
      font-family: $font-OpenSans-Bold;
      color: rgb(0, 0, 0);
      top: 14%;
      @include media-breakpoint-up('m'){
        top: 17.5%;
      }
    }
    &__item{
      &:nth-child(n+2){
        margin-top: 15px;
      }
    }
    &__title{
      margin: 0;
      font-family: $font-OpenSans-Bold;
      color: rgb(0, 0, 0);
      @extend .fz-14;
      margin-top: -30px;
      @include media-breakpoint-up('m'){
        margin-top: -40px;
      }
    }
    &__price{
      @extend .fz-14;
      &--old{
        color: rgb(0, 0, 0);
      }
      &--new{
        color: rgb(232, 58, 48);
        font-family: $font-OpenSans-Bold;
      }
    }
  }
}