.footer{
  background: linear-gradient(180deg, #FFCC2F, #EF5734);
  //min-height: 376px;
  &__bg{
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.33;
  }
  &__item{
    &:nth-child(n+2){
      border-top: 1px solid rgba(42, 42, 42, 0.3);
      $x:20px;
      margin-top: #{$x};
      padding-top: #{$x};
      @include media-breakpoint-up('m'){
        $x:30px;
        margin-top: #{$x};
        padding-top: #{$x};
      }
    }
  }
  &__copyright{
    @extend .fz-13;
    color: rgb(41, 41, 41);
    line-height: 1.2;
  }
  &__title{
    font-family: $font-OpenSans-Bold;
    color: rgb(0, 0, 0);
    @extend .fz-21;
  }
  &__list{
    >li{
      color: rgb(41, 41, 41);
      @extend .fz-14;
      padding-left: 30px;
      position: relative;
      &:before{
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        position: absolute;
        top: 0;
        left: 0;
      }
      &.address{
        &:before{
          background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='18.65 11.35 10 2.71 1.35 11.35 0.65 10.65 10 1.29 19.35 10.65'%3E%3C/polygon%3E%3Cpolygon points='15 4 18 4 18 7 17 7 17 5 15 5'%3E%3C/polygon%3E%3Cpolygon points='3 11 4 11 4 18 7 18 7 12 12 12 12 18 16 18 16 11 17 11 17 19 11 19 11 13 8 13 8 19 3 19'%3E%3C/polygon%3E%3C/svg%3E");
        }
      }
      &.phone{
        &:before{
          background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='none' stroke='%23000' stroke-width='1.01' d='M6.189,13.611C8.134,15.525 11.097,18.239 13.867,18.257C16.47,18.275 18.2,16.241 18.2,16.241L14.509,12.551L11.539,13.639L6.189,8.29L7.313,5.355L3.76,1.8C3.76,1.8 1.732,3.537 1.7,6.092C1.667,8.809 4.347,11.738 6.189,13.611'%3E%3C/path%3E%3C/svg%3E");
        }
      }
      &.mail{
        &:before{
          background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolyline fill='none' stroke='%23000' points='1.4,6.5 10,11 18.6,6.5'%3E%3C/polyline%3E%3Cpath d='M 1,4 1,16 19,16 19,4 1,4 Z M 18,15 2,15 2,5 18,5 18,15 Z'%3E%3C/path%3E%3C/svg%3E");
        }
      }
    }
  }
}